<%@songs.each do |song|%>
<tbody>
    <th><%=song.title%></th>
    <tr><%=song.artist_name%></tr>
    <li><%=song.released%></li>
    <li><%=song.genre%></li>
    <li><%=song.artist_name%></li>
</tbody>
<%end%>
